body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    width: 100vw;    
    background-color: rgb(25, 33, 41);
    color: rgb(255,255,255);
}

#form-container {
    margin: auto;
    box-sizing: border-box;
    border: 1px solid rgb(67, 163, 230);
    width: 250px;
    padding: 1.5rem 1.5rem 1rem 1rem;
}

#name, #email, #comment {
    border: 1px solid rgb(67, 163, 230);
}

.italic {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.submit-btn {
    background-color: rgb(67, 163, 230);
    color: white;
    border-radius: 0.75rem;
    border: none;
    padding: 0.25rem;
}