body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    width: 100vw;
    background-color: rgb(25, 33, 41); 

}

* {
    color: rgb(255,255,255);
}

#form-container {
    width: 250px;
    box-sizing: border-box;
    margin: auto auto;
    padding: 20px;
    border: 1px solid rgb(67, 163, 230);
    align-content: center;
}

label, i {
    letter-spacing: 0.058rem;
    font-weight: 500;
    font-size: large;
}

input, textarea {
    color: black;
    border: 1px solid rgb(67, 163, 230);
    padding-left: 10%;
    margin: 3px 0px;

}

button {
    font-size: medium;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(67, 163, 230);
    border-radius: 10px;
    border: 0ch;
}

i {
    letter-spacing: normal;
}
